.schedule_heading {
  display: flex;
  justify-content:right;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: left;
  font-size: 4em;
  margin: 0;
}

.body {
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 6em;
}

.page_heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: rgb(58, 57, 57);
  border-bottom: 5px solid black;
}

.travel_dates {
  color: rgb(58, 57, 57);
  display: flex;
  justify-content: right;
}

.MuiTimeline-root {
  margin-left: -7em !important;
}

.MuiTypography-root {
  margin: 1em !important;
 
}

.MuiTimelineContent-root {
  padding: 2em !important;
}

.MuiButtonBase-root {
  font-size: 5em !important;
}

.MuiPaginationItem-root {
  border-radius: 15px !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 1.5em !important;
}

.MuiSvgIcon-root {
  outline: none !important;
}

.card_schedule {
  padding-right: -1em !important;
  margin-right: -4em !important;
}
.card_content {
  display: flex !important;
  flex-direction: column !important;
}

.trip_name {
  margin-left: 0.3em !important;
}

.card_actions {
  margin-top: 0 !important;
  margin-right: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 1em !important;
  display: flex !important;
  justify-content: space-between !important;

}

.icon_buttons {
  outline: none !important;
  box-shadow: none !important;
}