.time-display-schedule-trip {
  display: flex;
  justify-content: right;
  align-items: center;
}
.card_schedule {
  border-radius: 20px !important;
  transition: all 0.3s ease;
}

.card_schedule:hover {
  transition: all 0.3s ease;
  transform: scale(1.005)
}

.card-actions-schedule {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.clock-schedule-page {
  padding-left: 2px;
  color:#71B1F8;
  transition: all 0.3s ease;
}

.clock-schedule-page:hover { 
  color: #9DD82E;
  /* font-weight: bold; */
  transform: scale(1.2)
}

.edit-trip-usernote {
  padding-left: 2px;
  color:#71B1F8;
  transition: all 0.3s ease;
}

.edit-trip-usernote:hover {
  transform: scale(1.5);
  color: #9DD82E;
}

.usernote-schedule-page {
  font: 3em !important;
}

.page-heading-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4078c0;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 1.5em;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); */
}

.schedule-heading {
  display: flex;
  align-items: center;
}

.schedule-current-date {
  font-size: 2em;
  font-weight: bold;
}

.schedule-heading-day {
  font-size: 2em;
  font-weight: bold;
  padding: 0px 10px 0px 0px
}

.user-note-edit-schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4B73DC;
}

.timepicker-clock-schedule {
  font-size: 1em !important; 
}

.travel-dates {
  display: flex;
  justify-content: right;
  color: #71B1F8;
  margin-bottom: 1em;
}

.modal-place-container {
  width: 1000px;
}

.itinerary_day.no-overflow {
 overflow: show;
}

.timepicker-container {
  border:none !important;
  background-color: red !important;
}

.timepicker-clock-schedule {
  /* background-color: red; */
  width: 2em !important;
  /* border-radius: 25px; */
  background-color: white;
}

.user-note-display-schedule {
  font-size: 1.4em !important;
  display: flex;
  padding-top: 0.5em;
  color:#6e6f72;
}

.schedule-card-wrapper {
  margin-left: 0.1em;
  padding-right: -1em;
  margin-right: -3.7em;
}

.css-66dh3a-MuiInputBase-input-MuiInput-input {
  color:#6e6f72 !important;
}

.trip_name {
  font-weight: bold !important;
  color: #71B1F8;
}

.float-flex {
  display: flex;
  justify-content: center;
}

.float-button {
  display: block;
  position: absolute;
  top: 270px;
  padding: 15px 20px;
  border: 3px solid #fff;
  border-radius: 15px;
  background-color: #fff;
  color: #9399B4;
  box-shadow: rgba(80, 80, 80, 0.15) 0px 2px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
} 

.float-button:hover {
  background-color: #9DD82E;
  color: #fff;
}

.float-icon {
  font-size: 1.5em;
}

.float-icon i {
  margin-right: 10px;
}

@media (max-width: 1260px) {
  .modal-place-container {
    max-width: 700px;
  }

  .float-button {
    top: 330px;
  } 
}