.card_schedule {
  border-radius: 20px !important;
  transition: all 0.3s ease;
}

.card_schedule:hover {
  transition: all 0.3s ease;
  transform: scale(1.005)
}

.card-actions-schedule {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.clock-schedule-page {
  padding-left: 2px;
  color:#71B1F8;
  transition: all 0.3s ease;
}

.clock-schedule-page:hover { 
  color: #9DD82E;
  /* font-weight: bold; */
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.edit-trip-usernote {
  padding-left: 2px;
  color:#71B1F8;
  transition: all 0.3s ease;
}

.edit-trip-usernote:hover {
  transform: scale(1.5);
  color: #9DD82E;
  transition: all 0.3s ease;
}

.usernote-schedule-page {
  font: 3em !important;
}

.page-heading-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4078c0;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 1.5em;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); */
}

.schedule-heading {
  display: flex;
  align-items: center;
}

.schedule-current-date {
  font-size: 2em;
  font-weight: bold;
}

.schedule-heading-day {
  font-size: 2em;
  font-weight: bold;
  padding: 0px 10px 0px 0px
}

.user-note-edit-schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4B73DC;
}

.timepicker-clock-schedule {
  font-size: 1em !important; 
}

.travel-dates {
  display: flex;
  justify-content: right;
  color: #71B1F8;
  margin-bottom: 1em;
}

.modal-place-container {
  width: 1000px;
}

.itinerary_day.no-overflow {
 overflow: show;
}

.timepicker-container {
  border:none !important;
}

.time-display-schedule-trip {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100px;
  padding: 0px 10px 0px 0px;
}

.user-note-display-schedule {
  font-size: 1.4em !important;
  padding-top: 0.5em;
  color:#6e6f72;
}

.schedule-card-wrapper { 
  padding: 0px 0px;

  /* ul, li {
    padding: 0;
    margin: 0;
  } */

  .MuiStack-root {
    padding: 0;
    margin: 0;
  }

  .MuiTimeline-root {
    padding: 0;
  }

  .MuiTimelineContent-root {
    padding: 10px 0px 25px 20px !important;
  }

  .MuiTimelineOppositeContent-root {
    flex: 0 !important;
    padding: 0 !important;
    margin: 0px 10px 0px 0px !important;
    width: 100px !important;
  }

  .MuiTextField-root {
    min-width: 100px !important;
  }

  .MuiCardMedia-media {
    max-height: 500px;
  }

  .MuiFormLabel-root {
    padding: 0;
    font-size: 0.6em;
  }

  .MuiInputAdornment-root {
    margin: 0;
  }

  .MuiInputBase-input {
    padding: 15px 0px 15px 10px !important;
    font-size: 0.8em !important;
    height: 20px;
    width: 100%;

  }

  .MuiInputBase-inputMultiline {
    height: unset !important;
  }

  /* .MuiButtonBase-root {
    box-shadow: unset !important;

    &:hover {
      color: #9DD82E !important;
      background-color: unset !important;
    }
  } */

}

.trip_name {
  font-weight: bold !important;
  color: #71B1F8;
}

.float-flex {
  display: flex;
  justify-content: center;
}

.float-button {
  display: block;
  position: absolute;
  top: 270px;
  padding: 15px 20px;
  border: 3px solid #fff;
  border-radius: 15px;
  background-color: #fff;
  color: #9399B4;
  box-shadow: rgba(80, 80, 80, 0.15) 0px 2px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
} 

.float-button:hover {
  background-color: #9DD82E;
  color: #fff;
}

.float-icon {
  font-size: 1.5em;
}

.float-icon i {
  margin-right: 10px;
}

@media (max-width: 1100px) {
  .modal-place-container {
    max-width: 700px;
  }

  .float-button {
    top: 330px;
  } 
}