.app-slogan {
  font-size: 5em;
  font-weight: bold;
  background: -webkit-linear-gradient(#71B1F8, #4B73DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-logo {
  padding: 20px;
  width: 256px;
  filter: drop-shadow(0.1rem 0.1rem 0.5rem rgba(80, 80, 80, 0.5));
}