.h1-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

  h1 {
    width: 100%;
  }

  .navBtn {
    width: 150px;
    height: 50px;
    margin: 5px;
  }
}

.attractions-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.attraction-item {
  border-radius: 15px !important;
  width: 260px;
}

.card-image {
  height: 200px;
  width: 300px;
}

.attraction-item-content {
  min-height: 180px !important;
}

.addBtn-position {
  padding: 20px;
}

.addBtn {
  font-size: 3em !important;
  box-shadow: unset !important;
}

.dialog-component {
  padding: 15px 0px !important;
}

@media (max-width : 1100px) {
  .attractions-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .attraction-item {
    border-radius: 15px !important;
    max-width: 100%;
  }

  .attraction-item-content {
    min-height: 100px !important;
  }

  .card-image {
    height: 200px;
    width: auto;
  }
}