.centered-square-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 800px;
  height: 90vh;
}

.popup-text {
  font-size:3em;
  color: #71B1F8;
  font-weight: 600;
}

.leaflet-marker-pane img {
  width: 40px !important;
}

#map {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}