.navFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.appIconStyle {
  width: 60px;
  height: 60px;
  border-radius: 0.43em;
  box-shadow: rgba(80, 80, 80, 0.4) 0px 2px 15px;
  transition: all 0.3s ease;
  &:hover {
    border: 3px solid #9DD82E;
  } 
}

.userIconStyle {
  width: 60px;
  height: 60px;
  box-shadow: rgba(80, 80, 80, 0.4) 0px 2px 15px;
  border-radius: 2em;
  transition: all 0.3s ease;
  &:hover {
    border: 3px solid #9DD82E;
  } 
}

.appBtnStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  height: 70px;
  width: 70px;
  border-radius: 20px;
  color: #E7F1FA; 
  font-size: 3em;
  box-shadow: unset;
  z-index: 99;
  transition: all 0.3s ease;
  &:hover {
    color: #9DD82E;
  } 
}

.userBtnStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  height: 70px;
  width: 70px;
  border-radius: 20px;
  color: #E7F1FA; 
  font-size: 3em;
  box-shadow: unset;
  z-index: 99;
  transition: all 0.3s ease;
  &:hover {
    color: #9DD82E;
  } 
}

.navBtnStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  height: 64px;
  width: 64px;
  border-radius: 20px;
  border: 3px solid transparent;
  color: #71B1F8; 
  font-size: 3em;
  box-shadow: unset;
  z-index: 99;
  transition: all 0.3s ease;
  &:hover {
    color: #E7F1FA;
    border: 3px solid #71B1F8;
    background-color: #4B73DC;
  } 
}

.spaceBtnStyle {
  margin-bottom: 80px;
}

@media (max-width : 1100px) {
  .appIconStyle {
    width: 100px;
    height: 100px;
  }
  
  .userIconStyle {
    width: 100px;
    height: 100px;
  }

  .appBtnStyle {
    width: 100px;
    height: 120px;
    font-size: 7em;
  }

  .userBtnStyle {
    width: 100px;
    height: 120px;
    font-size: 7em;
  }
  
  .navBtnStyle {
    width: 100px;
    height: 120px;
    font-size: 7em;
  }

  .spaceBtnStyle {
    margin-bottom: 100px;
  }
}