.item-list {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0px 50px 0px;
  /* justify-content: space-evenly; */
}

.item-card {
  padding: 0px;
  margin: 10px;
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(80, 80, 80, 0.4) 0px 2px 15px;
  background-color: #fff;
}

.item-card a {
  color: #9399B4;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    color: #9DD82E;
  }
}

.item-card-image {
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid #9DD82E;
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.item-card-caption {
  display: flex;
  border-radius: 10px;
  text-align: center;
  padding: 20px 5px 25px 5px;
  word-wrap: normal;
  min-height: 100px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.caption-title {
  padding: 0;
  margin: 0px 10px 10px 10px;
  font-size: 1.30em;
  font-weight: bold;
}

.caption-date {
  padding: 0;
  margin: 0px 10px;
  font-size: 1.4em;
}