@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  margin: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  width:3000px;
  display: flex;
  flex-direction: column;  
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border:none
}

.dropdown-row {
  cursor:pointer;
  text-align: start;
  margin: 2px 0
}

.search-inner {
  display: flex;
}

input {
  border: solid gray 1px;
  margin: 0.5em;
  width:500px
}