@import 'styles/_layout.scss';
@import 'styles/_font.scss';
@import 'styles/_button.scss';
@import 'styles/_form.scss';
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color:  #E51670;
}
